#area{
    position: fixed;
    top: 19%;left: 0;
    width: 100%;height: 78%;
    overflow: auto;
    margin: auto;
}

.model{
    background-color: rgba(255, 255, 255, 0.753);
    width: 90%; height: auto;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 30px;
    padding: 10%;
    align-items: center;
    line-height: 150%;
    font-size: 130%;
    letter-spacing: 10px;
}

.model textarea{
    height: 150%;
}


/***註冊****/

#form_check{
    letter-spacing: 4px;
    font-size: 87%;
    margin-top: 13%;
}

.form-control{
    font-size: 120%;
}

.mb-3 h2{
    margin-bottom: 5%;
}

#register_area{
    padding-bottom: 18%;
}

    /***按鈕***/

#btn_register_area{
    position: fixed;
    width: 70%; top: 90%;
    margin: 0 15% 0 15%;
}

#register_confirm{
    float: right;
}
/***登入***/

#line_area button{
    background-color: transparent;
    border: none;
    width: 25%;
}

#line{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

#btn_line:active{
    transform: scale(1.2);
}

#line_area{
    display: flex;
    padding: 6%;
    background-color: rgba(255, 255, 255, 0.52);
}

#line_area h4{
    padding-left: 8%;
}

#btn_login_area{
    position: relative;
    width: 80%; top: 5%;
    margin: 0 10% 0 10%;
}


#btn_login{
    float: right;
}

#go_register {
    top: 10%;
    color: white;
    text-align: center;
    position: relative;
}