#area{
    position: fixed;
    top: 17%;left: 0;
    width: 90%;height: 65%;
    overflow: auto;
    margin: 0 5% 0 5%;
    color: white;
}


/***確認***/
#confirm_area{
    position: fixed; top: 85%;
    color: white;
    width: 70%; 
    margin: 0 15% 0 15%;
}


#btn_confirm_area{
    position: fixed;
    width: 70%;top: 92%;
    margin: auto;
}

#purchase_confirm{
    float: right;
}
