#area {
  position: fixed;
  top: 17%;
  left: 0;
  width: 90%;
  height: 65%;
  overflow: auto;
  margin: 0 5% 0 5%;
}

.model {
  background-color: rgba(255, 255, 255, 0.877);
  width: 95%;
  height: auto;
  margin: auto;
  margin-bottom: 10%;
  border-radius: 30px;
  padding: 10% 6% 10% 6%;
  align-items: center;
  color: black;
}

/***確認***/
#confirm_area {
  position: fixed;
  top: 85%;
  color: white;
  padding: 0 50px;
}

#btn_confirm_area {
  position: fixed;
  width: 75%;
  top: 92%;
  margin: auto;
}

#purchase_confirm {
  float: right;
}

/* RWD調整 */
@media screen and (min-width: 430px) {
  .model {
    height: 70vh;
    overflow: auto;
  }
  #confirm_area {
    width: 430px;
    margin: 0;
    top: 88%;
  }
  #btn_confirm_area {
    width: 330px;
  }
}
